<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/css/profile.css" rel="stylesheet">
    <title>Private office</title>
</head>
<body>
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/files/logo.png" alt="logo" class="img-fluid" width="100" height="100">
            </a>

            <a href="/" class="nav-link link-light active">Главная</a>
        </div>
    </nav>
</div>

<div class="main-block">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Вы точно хотите выйти?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                    <a href="/logout">
                        <button type="button" class="btn btn-primary">Да</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="col-md-9" id="information">
            <div>
                <div>
                    Профиль менеджера
                </div>
<#--                action="/admin/employee" method="post"-->
                <div class="alert alert-info d-none" role="alert" id="response-field">Успешно изменено</div>
                <form class="form-container" id="admin-customer-edit-form">
                    <input type="hidden" name="id" value="${manager.id}">

                    <div class="mb-3">
                        <label for="fullName" class="form-label">Имя:</label>
                        <input type="text" class="form-control" name="fullName" placeholder="${manager.fullName}">
                    </div>

                    <div class="mb-3">
                        <div class="alert alert-danger d-none" role="alert" id="email-error"></div>
                        <label for="email" class="form-label">Почта:</label>
                        <input type="text" class="form-control" name="email" placeholder="${manager.email}">
                    </div>

                    <div class="mb-3">
                        <div class="alert alert-danger d-none" role="alert" id="inn-error"></div>
                        <label for="inn" class="form-label">ИНН:</label>
                        <input class="form-control" name="inn" type="number"
                               placeholder="${manager.inn}">
                    </div>

                    <div class="mb-3">
                        <div class="alert alert-danger d-none" role="alert" id="login-error"></div>
                        <label for="login" class="form-label">Логин:</label>
                        <input type="text" class="form-control" name="login"
                               placeholder="${manager.login}">
                    </div>

                    <div class="mb-3">
                        <div class="alert alert-danger d-none" role="alert" id="number-error"></div>
                        <label for="number" class="form-label">Номер телефона:</label>
                        <input type="text" class="form-control" name="number" placeholder="${manager.number}">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Введите новый пароль:</label>
                        <input type="text" class="form-control" name="password">
                    </div>

                    <#if _csrf??>
                        <input type="hidden" id="csrf-token-ids" name="${(_csrf.parameterName)!'csrf-param-name'}"
                               value="${(_csrf.token)!'csrf-token'}"/>
                    </#if>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin-profile.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>