<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
<body>
<div style="text-align: center; margin-top: 100px;">
    <h1>${message!}</h1>
    <hr>
    <a href="/">Вернуться на главную</a>
</div>
</body>
</html>