.order-information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.order-information-block{
    padding: 15px;
    width: 580px;
}


@media (max-width: 390px) {
    .order-information{
        flex-direction: column;
        align-items: center;
    }

    .order-information-block{
        padding: 15px;
        margin: 10px 0;
        width: 280px;
    }
}