.request-body-p-div {
    border: 1px solid rgb(0 0 0 / 18%);
    padding: 5px;
    margin-top: 5px;
}

.switcher{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: center;
}
.switch{
    margin: 0 15px;
    color: black;
    font-size: 15px;
    display: inline;
}
.switch-none{
    margin: 0 15px;
    color: black;
    font-size: 15px;
    display: inline;
}

.switch:hover {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

.customer-info {
    display: flex;
    justify-content: space-between;
}


table {
 border-collapse: collapse;
 width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

#div-redactor-buttons {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.close-icon {
    position: absolute;
    cursor: pointer;
    font-size: 24px;
}

.img-div-modal {
    display: flex;
}

.modal-dialog {
    position: static;
}

.image-container{
    display: flex;
    align-items: center;

}
.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
}