<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/css/login/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
<div class="limiter">
    <div id="itsLogin" style="display: none"></div>
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="POST" action="/login">
                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                <span class="login100-form-title p-b-26">
						<#if error>
                            <div class="alert alert-danger" role="alert">
                                не правильный email или password
                            </div>
                        </#if>
                </span>
                <span class="login100-form-title p-b-48">
						<img src="files/logo.png" alt="logo" class="img-fluid" width="100" height="100"
                             style="background-color: black">
					</span>
                <div class="wrap-input100 validate-input" data-validate="Введите email">
                    <input class="input100" type="text" name="username">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Введите пароль">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                    <input class="input100" type="password" name="password">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Авторизоваться
                        </button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <br>
                        <span class="txt1">
							Забыли пароль?
						</span>

                    <a class="txt2" href="/password-recovery/specify-email">
                        Восстановить
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/css/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/css/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/css/login/vendor/bootstrap/js/popper.js"></script>
<script src="/css/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/css/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/css/login/vendor/daterangepicker/moment.min.js"></script>
<script src="/css/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/css/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/css/login/js/main.js"></script>

</body>
</html>