<div class="card-manager-orders">
    <div class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
             class="bi bi-card-checklist" viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
        </svg>&nbsp;&nbsp;&nbsp;&nbsp;Мои заказы
    </div>
    <div class="card-body">
        <div class="my-1">
            <#if   expiredLeads??>
                <#if expiredLeads?size != 0 >
                    <span class="fw-bold">У этих заказов истек лид:</span>
                    <#list expiredLeads as order>
                        <a href="/orders?order_id=${order}">#${order}</a>
                    </#list>
                </#if>
            </#if>
        </div>
        <div>
            <h6>Поиск</h6>
            <form id="searchForm" onsubmit="searchOrders(event)">
                <input placeholder="Имя клиента" name="customer" class="form-control m-1">
                <input placeholder="Заявка" name="manager" class="form-control m-1">
                <select name="status" class="form-control m-1">
                    <option value="Все" selected>Все</option>
                    <option value="Новый">Новый</option>
                    <option value="В обработке">В обработке</option>
                    <option value="Ожидается оплата">Ожидается оплата</option>
                    <option value="Ожидается подтверждение">Ожидается подтверждение</option>
                    <option value="В процессе">В процессе</option>
                    <option value="Отправлен">Отправлен</option>
                    <option value="Завершен">Выполнен</option>
                    <option value="Отменен">Отменен</option>
                </select>
                <button class="btn btn-outline-dark my-1">Искать</button>
            </form>
        </div>
        <#if search??>
            <p class="py-3">Результат поиска по критериям: <span
                        class="fw-bold"><#if customerName?length!=0>${customerName}.</#if> <#if managerName?length!=0>${managerName}.</#if> <#if status?length!=0>${status}.</#if></span>
            </p>
        </#if>
        <hr>
        <#if page.content?size != 0>

        <div class="mt-5">
            <#if statusMessage??>
                <p>${statusMessage}</p>
            </#if>
            <div class="table-container">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" id="sortByName" onclick="OrdersSortBy('customer')">Клиент
                                <#if sortBy?? && sortBy == "customer">
                                    <#if sortOrder == 1>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    <#else>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg>
                                    </#if>
                                </#if>
                            </th>
                            <th scope="col">Заявка</th>
                            <th scope="col">Детали</th>
                            <th scope="col" id="sortByStatus" onclick="OrdersSortBy('status')">Статус
                                <#if sortBy?? && sortBy == "status">
                                    <#if sortOrder == 1>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    <#else>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg>
                                    </#if>
                                </#if>
                            </th>
                            <th scope="col" id="sortByDate" onclick="OrdersSortBy('orderDate')">Дата
                                <#if sortBy?? && sortBy == "orderDate">
                                    <#if sortOrder == 1>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    <#else>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg>
                                    </#if>
                                </#if>
                            </th>
                            <th scope="col">Редактирование</th>
                            <th scope="col">Заказ</th>
                            <th scope="col">Подтверждение</th>
                        </tr>
                        </thead>
                        <tbody>
                        <#list page.content as order>
                            <tr class="my-3">
                                <td>${order.customer.name}</td>
                                <td>
                                    <#if order.request??>
                                        <button class="btn btn-outline-dark"
                                                onclick="openOrderModal(`order-request-${order.id}-modal`)">${order.request.product}
                                        </button>
                                        <div class="modal fade" id="order-request-${order.id}-modal" tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Заявка</h5>
                                                        <button type="button" class="btn-close"
                                                                id="order-request-${order.id}-modal-btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body" id="modalBody">
                                                        <h5>Продукт: ${order.request.product}</h5>
                                                        <div style="border: green 1px solid" class="p-5 mb-2">
                                                            <#list order.request.files as file>
                                                                <img src="/files/${file.fileName}" alt="photo"
                                                                     height="100"
                                                                     width="100"
                                                                     onclick="openImageModal('${file.fileName}')">

                                                                <div id="${file.fileName}" class="modal">
                                                                <span class="close"
                                                                      onclick="closeImageModal('${file.fileName}')">&times;</span>
                                                                    <div class="img-block-modal">
                                                                        <img src="/files/${file.fileName}"
                                                                             class="modal-content" alt="#">
                                                                    </div>
                                                                </div>
                                                            </#list>
                                                            <p>Название товара: ${order.request.product}</p>
                                                            <#if order.request.description??>
                                                                <p>Описание товара: ${order.request.description}</p>
                                                            <#else>
                                                                <p>Описание товара: Отсутствует</p>
                                                            </#if>
                                                            <#if order.request.otherInformation??>
                                                                <p>Дополнительная
                                                                    информация: ${order.request.otherInformation}</p>
                                                            <#else>
                                                                <p>Дополнительная информация: Отсутствует</p>
                                                            </#if>
                                                            <p>Количество: ${order.request.quantity}</p>
                                                            <p>Статус заявки: ${order.request.status.status}</p>
                                                            <p>Дата заявки: ${order.request.requestDate}</p>
                                                        </div>
                                                        <h6>Данные клиента</h6>
                                                        <p>Имя: ${order.request.customer.name}</p>
                                                        <p>Почта: ${order.request.customer.email!'Отсутствует'}</p>
                                                        <p>Телефон: ${order.request.customer.number!'Отсутствует'}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <#else>
                                        Отсутствует
                                    </#if>
                                </td>
                                <td>
                                    <#if order.details??>
                                        <button class="btn btn-outline-dark"
                                                onclick="openOrderModal(`order-details-${order.id}-modal`)">Детали
                                        </button>
                                        <div class="modal fade" id="order-details-${order.id}-modal" tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Информация о
                                                            заказе</h5>
                                                        <button type="button" class="btn-close"
                                                                id="order-details-${order.id}-modal-btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body space-deleteIdClass" id="modalBody">
                                                        <#list order.details as detail>
                                                            <div class="detail-info">
                                                                <h5 class="mb-5">Продукт: ${detail.productUrl!}</h5>
                                                                <p>
                                                                    Количество: ${detail.quantity!} ${detail.quantityUnit!}</p>
                                                                <p>Цена продукта: ${detail.productPrice!}</p>
                                                                <p>Фрахт: ${detail.freight!}</p>
                                                                <p>Таможенная стоимость: ${detail.customsValue!}</p>
                                                            </div>
                                                        </#list>
                                                        <br>
                                                        <button type="button" class="btn btn-outline-dark"
                                                                id="onclickButton${order.id}"
                                                                onclick="openOrderModal(`order-edit-${order.id}-modal`)">
                                                            Изменить детали
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <#else>
                                        Отсутствует
                                    </#if>
                                </td>
                                <td>${order.status.status}</td>
                                <td>${order.orderDate?string.short}</td>
                                <td>
                                    <button type="button" class="btn icon-hover" id="onclickButton${order.id}"
                                            onclick="openOrderModal(`order-edit-${order.id}-modal`)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                             fill="currentColor"
                                             class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd"
                                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </button>
                                    <div class="modal fade" id="order-edit-${order.id}-modal" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Редактирование</h5>
                                                    <button type="button" class="btn-close"
                                                            id="order-edit-${order.id}-modal-btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" id="modalBody">
                                                    <form id="change-details-form-${order.id}">
                                                        <#if _csrf??>
                                                            <input type="hidden" id="csrf-token-id-details"
                                                                   name="${(_csrf.parameterName)!'csrf-param-name'}"
                                                                   value="${(_csrf.token)!'csrf-token'}"/>
                                                        </#if>

                                                        <div class="mb-3">
                                                            <div class="row">
                                                                <#list order.details as detail>
                                                                    <div class="detail-info">
                                                                        <h5 class="mb-4">
                                                                            Продукт: ${detail.productUrl!}</h5>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="new-values space-deleteIdClass">
                                                                                    <input type="hidden"
                                                                                           name="details[${detail_index}].id"
                                                                                           value="${detail.id}"
                                                                                           required>
                                                                                    <div class="mb-3">
                                                                                        <div class="alert alert-danger d-none"
                                                                                             role="alert"
                                                                                             id="productUrl-error-${order.id}"></div>
                                                                                        <label for="productUrl">Новый
                                                                                            URL
                                                                                            продукта:</label>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               name="details[${detail_index}].productUrl"
                                                                                               value="${detail.productUrl!}"
                                                                                               required>
                                                                                    </div>
                                                                                    <div class="d-flex justify-content-start">
                                                                                        <div class="mb-3 me-2">
                                                                                            <div class="alert alert-danger d-none"
                                                                                                 role="alert"
                                                                                                 id="quantity-error-${order.id}"></div>
                                                                                            <label for="quantity">Новое
                                                                                                количество:</label>
                                                                                            <input type="number"
                                                                                                   step="0.01"
                                                                                                   class="form-control"
                                                                                                   name="details[${detail_index}].quantity"
                                                                                                   value="${detail.quantity!}"
                                                                                                   required>
                                                                                        </div>
                                                                                        <div class="mb-3">
                                                                                            <div class="alert alert-danger d-none"
                                                                                                 role="alert"
                                                                                                 id="quantityUnit-error-${order.id}"></div>
                                                                                            <label for="quantityUnit">Новая
                                                                                                единица
                                                                                                измерения:</label>
                                                                                            <input type="text"
                                                                                                   class="form-control"
                                                                                                   name="details[${detail_index}].quantityUnit"
                                                                                                   value="${detail.quantityUnit!}"
                                                                                                   required>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <div class="alert alert-danger d-none"
                                                                                             role="alert"
                                                                                             id="productPrice-error-${order.id}"></div>
                                                                                        <label for="price">Новая цена
                                                                                            продукта:</label>
                                                                                        <input type="number"
                                                                                               class="form-control"
                                                                                               name="details[${detail_index}].productPrice"
                                                                                               value="${detail.productPrice!}"
                                                                                               required>
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <div class="alert alert-danger d-none"
                                                                                             role="alert"
                                                                                             id="freight-error-${order.id}"></div>
                                                                                        <label for="freight">Новый
                                                                                            фрахт:</label>
                                                                                        <input type="number"
                                                                                               class="form-control"
                                                                                               name="details[${detail_index}].freight"
                                                                                               value="${detail.freight!}"
                                                                                               required>
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <div class="alert alert-danger d-none"
                                                                                             role="alert"
                                                                                             id="customsValue-error-${order.id}"></div>
                                                                                        <label for="customsValue">Таможенная
                                                                                            стоимость:</label>
                                                                                        <input type="number"
                                                                                               class="form-control"
                                                                                               name="details[${detail_index}].customsValue"
                                                                                               value="${detail.customsValue!}"
                                                                                               required>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </#list>
                                                            </div>
                                                        </div>

                                                        <input type="hidden" name="id" value="${order.id}" required>
                                                        <button type="submit" onclick="clickToChange(${order.id})"
                                                                class="btn btn-outline-dark mb-2">
                                                            Редактировать
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><a href="/orders?order_id=${order.id}" class="icon-hover">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                             fill="currentColor"
                                             class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                            <path fill-rule="evenodd"
                                                  d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                                        </svg>
                                    </a>
                                </td>
                                <td>
                                    <#if order.status.status == 'В обработке'>
                                        <#if order.details?size!=0>
                                        <a class="btn btn-outline-dark" onclick="changeStatus(${order.id})">Отправить
                                            предложение</a>
                                            <#else>
                                            Заполните детали
                                        </#if>
                                    <#elseif order.status.status == 'Ожидается подтверждение'>
                                        <p>Ожидается подтверждение клиента</p>
                                    <#elseif order.status.status == 'Ожидается оплата'>
                                        <a class="btn btn-outline-dark" onclick="changeStatus(${order.id})">Подтвердить
                                            оплату заказа</a>
                                    <#elseif order.status.status == 'В процессе'>
                                        <a class="btn btn-outline-dark" onclick="changeStatus(${order.id})">Подтвердить
                                            отправку заказа</a>
                                    <#elseif order.status.status == 'Отправлен'>
                                        <a class="btn btn-outline-dark" onclick="changeStatus(${order.id})">Завершить
                                            заказ</a>
                                    </#if>
                                </td>
                            </tr>
                        </#list>
                        <div class="modal" id="confirmOffer" tabindex="-1" style="display: none">
                            <div class="modal-dialog" style="width: 700px;">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: white">
                                        <h5 class="modal-title">Внимание</h5>
                                        <p class="btn-close" data-bs-dismiss="modal" id="cancelBtnTop"
                                           aria-label="Close"></p>
                                    </div>
                                    <div class="modal-body" style="background-color: white">
                                        <p>Вы собираетесь завершить данную операцию. Пожалуйста, перед подтверждением
                                            убедитесь, что все корректно</p>
                                    </div>
                                    <div class="modal-footer" style="background-color: white">
                                        <p class="btn btn-secondary" data-bs-dismiss="modal" id="cancelBtn">Закрыть</p>
                                        <a class="btn btn-primary" id="confirmBtn">Продолжить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="switcher">
        <#if page.hasPrevious()>
            <p class="switch" onclick="changeOrdersPage(${page.number + 1},-1)">Предыдущая страница</p>
        </#if>

        <#if page.hasNext()>
            <p class="switch" onclick="changeOrdersPage(${page.number + 1},1)">Следующая страница</p>
        </#if>
    </div>
    <#else>
        <p>Заказов нету.</p>
    </#if>
</div>