<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-card-text" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Заявки
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-outline-dark" href="/employees/new-request">Создать заявку</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <#if requests?size != 0>
            <#list requests as request>
                <h5>Продукт: ${request.product}</h5>
                <div style="border: green 1px solid" class="p-5 mb-2">
                    <#list request.files as file>
                        <img src="/files/${file.fileName}" alt="photo" height="100"
                             width="100" onclick="openRequestImageModal(this)">
                    </#list>
                    <div id="request-img-modal" class="modal">
                        <span class="close" onclick="closeRequestImageModal()">&times;</span>
                        <div class="img-block">
                            <img class="modal-content" id="requestModalImage">
                        </div>
                    </div>
                    <#if request.otherInformation??>
                        <p>Дополнительная информация: ${request.otherInformation}</p>
                    <#else>
                        <p>Дополнительная информация: Отсутствует</p>
                    </#if>
                    <p>Количество: ${request.quantity}</p>
                    <p>Статус заявки: ${request.status.status}</p>
                    <p>Дата заявки: ${request.requestDate}</p>
                </div>
                <h6>Данные клиента</h6>
                <p>Имя: ${request.customer.name}</p>
                <p>Почта: ${request.customer.email!'Гость - '+request.customer.name}</p>
                <p>Телефон: ${request.customer.number}</p>

                <form action="/orders" method="POST">
                    <#if _csrf??>
                        <input type="hidden" name="${(_csrf.parameterName)!'csrf-param-name'}"
                               value="${(_csrf.token)!'csrf-token'}"/>
                    </#if>

                    <input type="hidden" name="request_id" value="${request.id}" required>
                    <button type="submit" class="btn btn-outline-dark my-2">
                        Оформить заказ
                    </button>
                </form>

                <hr class="mb-5">
            </#list>
        <#else>
            <p>На данный момент нет активных заявок</p>
        </#if>
        <div class="switcher">
            <#if page.hasPrevious()>
                <p class="switch" onclick="changePage(${currentPage},-1,'requests')">Предыдущая страница</p>
            </#if>

            <#if page.hasNext()>
                <p class="switch" onclick="changePage(${currentPage},1,'requests')">Следующая страница</p>
            </#if>
        </div>
    </div>
</div>
